Airtable_to_Platforms.json
{
  "name": "Airtable to Platforms",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=- **Input Text Field**: {{ $json['Details/Captions'] }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "type": "=SystemMessagePromptTemplate",
              "message": "=You are an AI specialized in crafting high-impact, viral titles and descriptions optimized for TikTok Shorts, Instagram Reels, YouTube Shorts, and Facebook Reels. \n\nYou will receive a input containing informational fields which may be variably named (e.g., \"caption\", \"description\", etc.).\n\nYour task is to dynamically detect and use the first available text field from the input to generate platform-specific content tailored to each platform’s unique style and audience engagement.\n\nThe **tone and style** of the output should be customizable based on a user-defined variable called `style_tone`. This variable specifies the persona or voice you should adopt when generating content (e.g., \"bossbaby\", \"motivational coach\", \"comedy sketch\", etc.).\n\n---\n\n### Input variables:\n\n- **Input Text Field**: The text to base your content on (captions, description, name etc).  \n- **style_tone**: A string indicating the desired voice/persona for the content.\n\n---\n\n### Platform-specific output requirements:\n\n1. **Instagram Reels**:  \n   - Description: Brief, visually descriptive, up to 5 hashtags, strong call-to-action.\n\n2. **YouTube Shorts**:  \n   - Title (max 50 chars): Direct, suspenseful, clickbait style.  \n   - Description: Concise, keyword-rich, with engagement prompts.\n\n3. **Facebook Reels**:   \n   - Description: Short, emotional hook encouraging reactions.\n\n4. **TikTok**:  \n   - Description: Creative, catchy, platform-appropriate. Should include the hashtags #fyp, #viral, #trending, and then two more of your choosing\n\n---\n\n### Output format:\n\nReturn strictly this JSON structure, adapting content tone according to `style_tone`:\n{\n  \"instagram\": {\n    \"description\": \"...\"\n  },\n  \"youtube\": {\n    \"title\": \"...\",\n    \"description\": \"...\"\n  },\n  \"facebook\": {\n    \"description\": \"...\"\n  },\n  \"tiktok\": {\n    \"description\": \"...\"\n  }\n}\n\n#Note \n- Return only the EXACT JSON Output and nothing else."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        384,
        352
      ],
      "id": "33f5e2aa-0908-43e5-b417-a9a32e784ce6",
      "name": "Publishing Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app6oIECbFEu4l3mE",
          "mode": "list",
          "cachedResultName": "Content Publishing System",
          "cachedResultUrl": "https://airtable.com/app6oIECbFEu4l3mE"
        },
        "table": {
          "__rl": true,
          "value": "tblvjc0sIpiw7Ct8s",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/app6oIECbFEu4l3mE/tblvjc0sIpiw7Ct8s"
        },
        "filterByFormula": "{Status} = \"Start Upload\"",
        "returnAll": false,
        "limit": 1,
        "options": {},
        "sort": {
          "property": [
            {
              "field": "Status"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        224,
        352
      ],
      "id": "9628d061-0bda-46e1-a2d0-b1082d4c12bc",
      "name": "Search Record",
      "credentials": {
        "airtableTokenApi": {
          "id": "VtScgXnCcqGg8lyL",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app6oIECbFEu4l3mE",
          "mode": "list",
          "cachedResultName": "Content Publishing System",
          "cachedResultUrl": "https://airtable.com/app6oIECbFEu4l3mE"
        },
        "table": {
          "__rl": true,
          "value": "tblvjc0sIpiw7Ct8s",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appkyh69NFvBjh0Jz/tblvjc0sIpiw7Ct8s"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Status": "Completed"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Video Name",
              "displayName": "Video Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Details/Captions",
              "displayName": "Details/Captions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Video Link (Gdrive)",
              "displayName": "Video Link (Gdrive)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Start Upload",
                  "value": "Start Upload"
                },
                {
                  "name": "Completed",
                  "value": "Completed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Youtube",
              "displayName": "Youtube",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Uploaded",
                  "value": "Uploaded"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Instagram",
              "displayName": "Instagram",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Uploaded",
                  "value": "Uploaded"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TikTok",
              "displayName": "TikTok",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Uploaded",
                  "value": "Uploaded"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Facebook",
              "displayName": "Facebook",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Uploaded",
                  "value": "Uploaded"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Created Time",
              "displayName": "Created Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Last Modified Time",
              "displayName": "Last Modified Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1264,
        352
      ],
      "id": "b1175208-b04e-4991-9ed5-153a88792bf9",
      "name": "Video Published",
      "credentials": {
        "airtableTokenApi": {
          "id": "VtScgXnCcqGg8lyL",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upload-post.com/api/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Publishing Agent').item.json.output.tiktok.description }}"
            },
            {
              "name": "user",
              "value": "tiktokuploader"
            },
            {
              "name": "platform[]",
              "value": "tiktok"
            },
            {
              "parameterType": "formBinaryData",
              "name": "video",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        352
      ],
      "id": "87249c32-2d1c-4dbe-b638-cdfece2f3ed0",
      "name": "TikTok Post (NEW)",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ntXIaxIE1jvlpZNO",
          "name": "Header Auth account 5"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 96
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        48,
        352
      ],
      "id": "e1219a59-9adf-4f9c-8e09-419073ed4681",
      "name": "Schedule Trigger2"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app6oIECbFEu4l3mE",
          "mode": "list",
          "cachedResultName": "Content Publishing System",
          "cachedResultUrl": "https://airtable.com/app6oIECbFEu4l3mE"
        },
        "table": {
          "__rl": true,
          "value": "tblvjc0sIpiw7Ct8s",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appkyh69NFvBjh0Jz/tblvjc0sIpiw7Ct8s"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Search Record').item.json.id }}",
            "TikTok": "Uploaded"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Video Name",
              "displayName": "Video Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Details/Captions",
              "displayName": "Details/Captions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Video Link (Gdrive)",
              "displayName": "Video Link (Gdrive)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Start Upload",
                  "value": "Start Upload"
                },
                {
                  "name": "Completed",
                  "value": "Completed"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Youtube",
              "displayName": "Youtube",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Uploaded",
                  "value": "Uploaded"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Instagram",
              "displayName": "Instagram",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Uploaded",
                  "value": "Uploaded"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TikTok",
              "displayName": "TikTok",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Uploaded",
                  "value": "Uploaded"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Facebook",
              "displayName": "Facebook",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Uploaded",
                  "value": "Uploaded"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Created Time",
              "displayName": "Created Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Modified Time",
              "displayName": "Last Modified Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1072,
        352
      ],
      "id": "e1782353-e1a3-471a-aeb9-0e4cd97c2c12",
      "name": "TikTok Posted",
      "credentials": {
        "airtableTokenApi": {
          "id": "VtScgXnCcqGg8lyL",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Search Record').item.json['Video Link (Gdrive)'] }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        688,
        352
      ],
      "id": "dc880233-07ad-4fde-8e52-0ad36bc59dbb",
      "name": "Download Final Vid",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0vHGVvFvrM6XoWPe",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        384,
        544
      ],
      "id": "bc23088e-e00d-4ca2-a922-2b4169175e11",
      "name": "gpt4o mini",
      "credentials": {
        "openRouterApi": {
          "id": "yAhif8yBuSgBOFoC",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"tiktok\": {\n    \"description\": \"...\"\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        528,
        544
      ],
      "id": "0c62119a-7dcd-4aed-a947-01443ea5c433",
      "name": "Structured Output Parser1"
    }
  ],
  "pinData": {},
  "connections": {
    "Publishing Agent": {
      "main": [
        [
          {
            "node": "Download Final Vid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Record": {
      "main": [
        [
          {
            "node": "Publishing Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TikTok Post (NEW)": {
      "main": [
        [
          {
            "node": "TikTok Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "Search Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TikTok Posted": {
      "main": [
        [
          {
            "node": "Video Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Final Vid": {
      "main": [
        [
          {
            "node": "TikTok Post (NEW)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt4o mini": {
      "ai_languageModel": [
        [
          {
            "node": "Publishing Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Publishing Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d446e5c9-b1fd-4f71-a27c-5b791870b215",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0537154de8f8b7dcbcf720d4d3160247deef7f44bcd008019d9f90dea652714e"
  },
  "id": "9XIRTmkjz2ZhmEZ8",
  "tags": [
    {
      "updatedAt": "2025-10-15T04:20:43.723Z",
      "createdAt": "2025-10-15T04:20:43.723Z",
      "id": "kNwvvT5Mgfa10KO0",
      "name": "W17: Content Publish2"
    }
  ]
}